<div class='row mt-5'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body'>
      <h1 class='text-center mt-3'>忘記密碼</h1>
      <span class='text-center mt-3'>*請輸入帳號郵件，我們將寄送新的帳號密碼到您指定的郵件。</span>
      <form action='/users/forgetPassword' method='POST'>
        <div class='form-group mb-3'>
          <label for='email'>帳號</label>
          <input type='email' id='email' name='email' class='form-control' placeholder='請輸入 Email' required />
        </div>
        <div class='d-grid gap-2 col-3 mx-auto'>
          <button type='submit' class='btn btn-warning btn-block'>確認</button>
        </div>
      </form>
    </div>
  </div>
</div>