<div class='row mt-5'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body'>
      <h1 class='text-center mt-3'>忘記密碼</h1>
      <span class='text-center mt-3'>*請輸入驗證碼。</span>
      <form action='/users/forgetPassword' method='POST'>
        <div class='form-group mb-3'>
          <label for='verifyCode'>驗證碼</label>
          <input type='text' id='verifyCode' name='verifyCode' class='form-control' placeholder='請輸入驗證碼' required />
        </div>
        <div class='d-grid gap-2 col-3 mx-auto'>
          <button type='submit' class='btn btn-warning btn-block'>確認</button>
        </div>
      </form>
    </div>
  </div>
</div>